[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = ">=1.0.0"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
Keras = "*"
statsmodels = "*"
pandas-datareader = "*"
Quandl = "*"
yfinance = "*"
plotly = "*"
seaborn = "*"
sklearn = "*"
xlrd = "==1.2.0"
scikit-learn = "*"
tensorflow-gpu = "*"
tensorboard = "*"
wheel = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.8"
